/*样式重置*/
* {
    word-wrap: break-word;
}
body {
    background-position: 0 0;
}
body {
    color: #262626;
    padding: 0;
    margin: 0;
    font: 14px/20px "微软雅黑","Microsoft YaHei","MicrosoftJhengHei","华文细黑",STHeiti,MingLiu,Arial,sans-serif;
    overflow-x: hidden;
}
body, div, dl, dt, dd, p, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, article, aside, details, section, a:focus, img, a img {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
li{
    list-style: none;
}
img {
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
/*头部*/
header{
    width: 100%;
    min-width: 1000px;
    position: relative;
    background: #2a2f3b;
    z-index: 5;
}
header li a{
    font-size: 14px;
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    line-height: 65px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
header a:hover{
    color: #00a4ff;
    text-decoration: none;
}
header .nav-content{
    overflow: hidden;
    height: 65px;
}
header .nav-content ul{
    overflow: hidden;
    float: left;
}
header .nav-content ul li{
    float: left;
}
.nav-list li{

}
.nav-list li:hover .panel-container{
    max-height: 500px;
}
header .nav-content .nav,.nav-content .logo{
    float: left;
}
header .nav-content  .oprate{
    float: right;
}
header .logo{
    position: relative;
    top: 20px;
    left: 20px;
    margin-right: 37px;
}
header .logo .icon-logo{
    width: 92px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/global-201805301132.svg);
    overflow: hidden;
    text-indent: -10000px;
    background-position: 0.5700000000000001% 34.1%;
    background-size: 289.1304347826087% 968%;
    background-repeat: no-repeat;
}
.panel-container{
    position: absolute;
    top: 57px;
    color: #404A58;
    z-index: 4;
    left: 111px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
 .panel-item{
    font-size: 12px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 1px solid #b3b7bf;
    border-radius: 2px;
    background-color: #fff;
    line-height: 18px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    position: static !important;
    left: 50%;
    top: 50%;
    border-color: #dedfe0;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    pointer-events: auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 8px;
}
 .panel-item:before{
    margin-bottom: -8px;
    margin-left: -8px;
    bottom: 100%;
    left: inherit;
    right: inherit;
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: 8px dashed transparent;
    border-bottom: #e5e5e5 solid 8px;
}
.menu-item{
    padding: 15px 0 0 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.menu-item h3{
    width: 190px;
    font-size: 14px;
    color: #333;
    padding-bottom: 8px;
    border-bottom: #e5e5e5 1px solid;
}
.menu-item .item{
    margin-top: 8px;
    font-size: 12px;
}
.item a{
    display: block;
    height: 18px;
    line-height: 18px;
    padding-left: 0;
    transition: all .4s;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #333;
}
.item a.new:after{
    content: 'NEW';
    color: orange;
    padding-left: 4px;
}
.searchBtn{
    float: left;
    margin-top: 25px;
}
.icon-search{
    display: inline-block;
    background-image: url(../images/global-201805301132.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: 99.6% 8.41%;
    background-size: 1662.5% 1512.5%;
    background-repeat: no-repeat;
}
.nav,
.oprate{
    /*display: none;*/
}
.search-wrapper{
    background-color: #2a303c;
    position: absolute;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    padding: 15px 0;
    z-index: 1000;
    opacity: 1;
    transition: all .4s cubic-bezier(.67,0,.33,1);
    display: none;
}
.search-inner{
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    font-size: 0;
    max-width: 620px;
    white-space: normal;
    left: -110px;
    /*overflow: hidden;*/
    height: 35px;
    text-align: right;
    position: relative;
}
.nav-search-icon{
    display: inline-block;
    background-image: url(../images/global-201805301132.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: 99.6% 8.41%;
    background-size: 1662.5% 1512.5%;
    background-repeat: no-repeat;
    margin-top: 8px;
    float: left;
}
.nav-search-close-icon{
    display: inline-block;
    background-image: url(../images/global-201805301132.svg);
    width: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    text-indent: 10000px;
    outline: 0;
    background-position: 57.99999999999999% 91.59%;
    background-size: 1662.5% 1512.5%;
    background-repeat: no-repeat;
    margin-top: 8px;
}
.search-input{
    position: absolute;
    width: calc(100% - 50px);
    left: 225px;
    left: 25px;
    right: 25px;
    padding: 5px;
    -webkit-appearance: none;
    transition: all .4s cubic-bezier(.11393,.8644,.14684,1);
    /*background-color: #2a303c;*/
    line-height: 14px;
    height: 35px;
    border: 0;
    background-color: inherit;
    vertical-align: middle;
    box-sizing: border-box !important;
    color: #fff;
    font-size: 14px;
    transform: translateX(100px);

}
.hot-search{
    width: 100%;
    text-align: left;
    margin-left: 0;
    position: absolute;
    top: 50px;
    background-color: #f7f8fa;
}
.hot-wrapper{
    padding: 20px 0px;
}
.hot-wrapper h3{
    font-weight: 400;
    color: #999;
    font-size: 12px;
    padding-left: 30px;
    transform: translateX(100px);
    /*opacity: 0;*/
    /*transform: translateX(0px);*/
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.hot-wrapper ul{
    width: 100%;
}
.hot-wrapper li{
    width: 100%;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    display: block;
    padding-left: 30px;
    min-width: 80px;
    font-size: 12px;
    float: none!important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translateX(100px);
    /*opacity: 0;*/
}
.hot-wrapper li:nth-child(1){
     transition-delay: 20ms;
 }
.hot-wrapper li:nth-child(2){
    transition-delay: 40ms;
}
.hot-wrapper li:nth-child(3){
    transition-delay: 60ms;
}
.hot-wrapper li:nth-child(4){
    transition-delay: 80ms;
}
.hot-wrapper li:nth-child(5){
    transition-delay: 100ms;
}
.hot-wrapper li:hover{
    color: #00a4ff;
    background-color: #f1f2f4;
    cursor: pointer;
}
.show-item{
    opacity: 1;
    transform: translateX(0px)!important;
}

/*尾部样式*/
footer{
    background: #2e3033;
    font-size: 14px;
    color: #fff;
}
.footer-inner{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1180px;
    padding: 30px 0;
    border-bottom: 1px solid #45484c;
    -webkit-font-smoothing: antialiased;
}
.footer-inner ul{
    box-sizing: border-box;
    display: table;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-inner ul li{
    display: table-cell;
    width: 21.5%;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
}
.footer-inner ul li .icon{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
    background-image: url(../images/global-201805301132.svg);
    background-size: 831.25% 756.25%;
    background-repeat: no-repeat;
}
.footer-inner .icon1{
    background-position: 14.96% 72.86%;
}
.footer-inner .icon2{
    background-position: 44.019999999999996% 72.86%;
}
.footer-inner .icon3{
    background-position: 14.96% 56.67%;
}
.footer-inner .icon4{
    background-position: 44.019999999999996% 56.67%;
}
.footer-inner .icon5{
    background-position: 73.08% 0.48%;
}
.footer-inner ul li:hover{
    cursor: pointer;
}
.footer-inner ul li:hover span{
    color: #00a4ff;
}
.footer-inner ul li:hover .icon{
    /*background-size: 318.75% 212.5%;*/
}
.footer-inner ul li:hover .icon1{
    background-position: 29.5% 72.78%;
}
.footer-inner ul li:hover .icon2{
    background-position: 73.1% 72.78%;
}
.footer-inner ul li:hover .icon3{
    background-position: 29.5% 56.78%;
}
.footer-inner ul li:hover .icon4{
    background-position: 58.5% 56.78%;
}
.footer-inner ul li:hover .icon5{
    background-position: 73.2% 16.78%;

}
.footer-inner2{
    padding: 15px 0;
}
.footer-inner p{
    margin: 0 10px 0 10px;
}
.footer-inner p a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 12px;
    line-height: 26px;
    color: #ccc;
}
.footer-inner p a:hover{
    color: #00a4ff;
}