

/*banner部分样式*/
.banner{
    margin-top: -65px;
}
.swiper-container {
    width: 100%;
    height: 500px;
}
.banner-item{
    background-color: rgb(31, 37, 49);
    /*background-size: 170% 100%;*/
    background-size: 1920px 500px;
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
}
.banner-item:nth-child(2){
    background-image: url("../images/banner1.png");
}
.banner-item:nth-child(3){
    background-image: url("../images/banner2.jpg");
}
.banner-item:nth-child(4){
    background-image: url("../images/banner3.png");
}
.banner-item:nth-child(5){
    background-image: url("../images/banner4.png");
}
.banner-item:nth-child(6){
    background-image: url("../images/banner5.png");
}
.item-content{
    position: absolute;
    top: 38%;
    left: 50px;
    left: 160px;
    color: #fafafa;
}
.item-content h2{
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 2.5%;
    line-height: 60px;
}
.item-content p{
    font-size: 18px;
    line-height: 36px;
}
.item-content .btn{
    margin-top: 45px;
}
.item-content .btn a{
    width: 190px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    line-height: 43px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    -webkit-transition: all 0.15s ease ;
    -moz-transition: all 0.15s ease ;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease ;
    transition: all 0.15s ease ;
}
.item-content .btn a:hover{
    background-color: #FFFFFF;
    color: #333333;
}
/*重置banner分页器样式*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 25px;
}
.swiper-pagination-bullet{
    width: 30px;
    height: 3px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: .3;
}
.swiper-pagination-bullet-active{
    background: #fff;
    opacity: 1;
}
.swiper-button-prev{
    left: 20px;
}
.swiper-button-next{
    right: 20px;
}
.swiper-button-next, .swiper-button-prev{
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease ;
    -ms-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease ;
    opacity: 0;
}
.banner:hover .swiper-button-next,.banner:hover .swiper-button-prev{
    opacity:1;
}
/*云产品部分样式*/
.cloud-pro{
    width: 100%;
    padding: 45px 10px 50px;
}
.cloud-pro .title{
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}
.pro-container{
    width: 1180px;
    margin: auto;
}
.pro-container ul{
    overflow: hidden;
}
.pro-container li{
    display: inline-block;
    width: 20%;
    /* background-color: #e2e2e2; */
    float: left;
    margin-top: 34px;
    padding: 15px 0;
}
.pro-container li .pro-icon{
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0 auto 15px;
}
.pro-container li .pro-icon img{
    width: 100%;
}
.pro-icon-active{
    position: absolute;
    top: 0;
    opacity: 0;
}
.pro-container li p{
    color: #666666;
    font-size: 18px;
    text-align: center;
}
.pro-container li:hover{
    cursor: pointer;
}
.pro-container li:hover .pro-icon .img{
    opacity: 0;
}
.pro-container li:hover .pro-icon-active{
    opacity: 1;
}
.pro-container li:hover p{
    color: #00a4ff;
}

/*yyyy*/
.work-solution{
    width: 100%;
    max-height: 670px;
    position: relative;
}
.work-solution .inner-container{
    position: relative;
    z-index: 2;
    color: #FFFFFF;
}
.work-solution .background-item{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: center top;
    top: 0;
    -webkit-transition: all .5s linear ;
    -moz-transition: all .5s linear ;
    -ms-transition: all .5s linear ;
    -o-transition: all .5s linear ;
    transition: all .5s linear ;
}
.work-solution .work-wrapper{
    padding: 45px 10px 50px;
}
.work-solution h2{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    margin-bottom: 30px;
}
.work-solution .desc{
    display: none;
}
.work-solution .desc:nth-child(1){
    display: block;
}
.inner-text{
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-4{
    display: inline-block;
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    border-right: #667080 2px solid;
    padding: 0 0 5px;
    width: 16.6667%;
}
.col-8{
    display: inline-block;
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    padding-left: 78px;
    margin-left: -2px;
    border-left: #667080 2px solid;
    width: 83.3333%;
}
.tab li{
    padding: 5px 48px 5px 0;
    margin-bottom: 15px;
    color: #eef4ff;
    font-size: 16px;
    text-align: right;
    position: relative;
}
.tab li:hover{
    cursor: pointer;
}
.tab li.active{
    background: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.2)),to(rgba(0,0,0,0)));
    background: linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
}
.tab li.active:after{
    display: inline-block;
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    left: inherit;
    right: -2px;
    bottom: 0;
    top: 0;
    background: #00a4ff;
    z-index: 1;
}
.desc h3{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.desc p{
    font-size: 14px;
    color: #fff;
    line-height: 1.8em;
}
.desc .btn{
    padding-top: 35px;
}
.desc .btn a{
    height: 35px;
    min-width: 140px;
    padding: 0 20px;
    background-color: #00a4ff;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
}
.desc .btn a:hover{
    background-color: #0092ee;
}

.satisfactory{
    padding: 45px 10px 50px;
    background: #f7f8fa
}
.satisfactory h2{
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
}
.satisfactory p{
    font-size: 18px;
    text-align: center;
}
.satisfactory .item-box{
    overflow: hidden;
    background-color: #FFFFFF;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 0 5px;
    box-shadow: rgba(0,0,0,.1) 0 0 5px;
    margin-top: 50px;
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
}
.satisfactory .item-box li{
    padding: 20px 0 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    width: 16.6666%;
    position: relative;
    border-right: 1px solid #f5f6f7;
}
.satisfactory .item-box li span{
    display: block;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.satisfactory .item-box li .icon-box{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.satisfactory .item-box li img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
    width: 48px;
    height: 48px;
}
.satisfactory .item-box li img.active{
    opacity: 0;
    z-index: 3;
}
.satisfactory .item-box li:hover{
    cursor: pointer;
}
.satisfactory .item-box li:hover img.active{
    opacity: 1;
}
.satisfactory .item-box li:hover span{
    color: #00a4ff;
}
@media screen and (max-width: 1200px) {
    .item-content{                                                                                        left: 50px;
    }
}


